// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #4F1FCF;
$secondary: #724CD9;
$ternary: #9579E2;
$lightPink: #B9A5EC;
$lightPinkSecondary: #DCD2F5;
$red: #CF1F1F;
$green: #1FCF90;
